.app-container { 
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.canvas-wrapper { position: relative; }
.rubber-rect {
  position: absolute;
  border: 1px dashed #fff;
  pointer-events: none;
  outline: 1px dashed #000;
}
.control-panel {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.range-input {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.range-input label { margin: 0 4px; }

.view-control {
  margin-bottom: 10px;
}

.accent-red {
  accent-color: #ff0000;
}

.accent-red::-webkit-slider-runnable-track {
  background: #ee0000;
}

.accent-red::-webkit-slider-thumb {
  background: #ff0000;
}

.accent-green {
  accent-color: #00ff00;
}

.accent-green::-webkit-slider-runnable-track {
  background: #00ee00;
}

.accent-green::-webkit-slider-thumb {
  background: #00ff00;
}

.accent-blue {
  accent-color: #0000ff;
}

.accent-blue::-webkit-slider-runnable-track {
  background: #0000ee;
}

.accent-blue::-webkit-slider-thumb {
  background: #0000ff;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}